@using PrimeiroAppBlazor.Library
@using PrimeiroAppBlazor.Client.Services
@inject CursoServices cursoService;

<EditForm Model="@cursoCLS" OnValidSubmit="Guardar">
	<div class="mt-3">
		<label>Id Curso</label>
		<InputNumber class="form-control" @bind-Value="@cursoCLS.idcurso"/>
	</div>
	
	<div class="mt-3">
		<label>Nombre Curso</label>
		<InputText class="form-control" @bind-Value="@cursoCLS.nombrecurso"/>
	</div>
	
	<div class="mt-3">
		<label>Numero Creditos</label>
		<InputNumber class="form-control" @bind-Value="@cursoCLS.numerocreditos"/>
	</div>

	<div class="mt-3">
		<button class="btn btn-primary" type="submit">Guardar</button>
	</div>
</EditForm>

@code {
	public CursoCLS cursoCLS = new CursoCLS();

	protected override async Task OnInitializedAsync()
	{
		cursoService.OnEdit += RecuperarCurso;
		await Task.CompletedTask;
	}

	public async void Guardar()
	{
		cursoService.Agregar(cursoCLS);
		cursoCLS = new CursoCLS();
	}

	public void RecuperarCurso(CursoCLS cursoRecuperadoClS)
	{
		cursoCLS = cursoRecuperadoClS;
		StateHasChanged();
	}
}
