@using PrimeiroAppBlazor.Library;
@using PrimeiroAppBlazor.Client.Services
@inject CarreraService carreraService;

@if (lista is null)
{
    <h1>Carregando...</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Description</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carrera in lista)
            {
                <tr>
                    <td>@carrera.idcarrera</td>
                    <td>@carrera.nombrecarrera</td>
                    <td>@carrera.descripcioncarrera</td>
                    <td>
                        <button class="btn btn-secondary"
                                @onclick="(() => editar(carrera))">
                            Editar
                        </button>
                        <button class="btn btn-danger"
                                @onclick="(() => eliminar(carrera.idcarrera))">
                            Eliminar
                        </button>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public List<CarreraCLS> lista { get; set; }

    protected override async Task OnInitializedAsync()
    {
        lista = carreraService.listarCarreras();
        carreraService.onChange += refrezcarLista;
        await Task.CompletedTask;
    }

    private async Task eliminar(int idCarrera)
    {
        carreraService.eliminar(idCarrera);
        await Task.CompletedTask;
    }

    private async Task editar(CarreraCLS carrera)
    {
        carreraService.notificarEdit(carrera);
    }

    private async Task refrezcarLista()
    {
        lista = carreraService.listarCarreras();
        StateHasChanged();
        await Task.CompletedTask;
    }
}
