@page "/"
@using PrimeiroAppBlazor.Library
@using PrimeiroAppBlazor.Client.Components.Carrera

<PageTitle>Carrera</PageTitle>

<h1>Pagina Carrera</h1>

<FormCarrera OnGuardar="Guardar" />

<ListCarrera OnEliminar="Eliminar" lista="@listacarrera"/>

@code {

    public List<CarreraCLS> listacarrera { get; set; }

    // quando o componente inicia o carregamente ou finaliza
    protected override async Task OnInitializedAsync()
    {

        listacarrera = new List<CarreraCLS>();

        listacarrera.Add(new CarreraCLS { 
            idcarrera = 1, 
            nombrecarrera = "Informatica", 
            descripcioncarrera = "Desc 1" 
        });

        listacarrera.Add(new CarreraCLS
            {
                idcarrera = 2,
                nombrecarrera = "Medicina",
                descripcioncarrera = "Desc 2"
            });

        await Task.CompletedTask;
    }

    public async Task Guardar(CarreraCLS carreraCLS)
    {
        listacarrera.Add(carreraCLS);     
        await Task.CompletedTask;
    }

    public async Task Eliminar(int idcarrera)
    {
        var data = listacarrera.Where(p => p.idcarrera != idcarrera).ToList();
        listacarrera = data;
        await Task.CompletedTask;
    }

   
}