@page "/"
@using PrimeiroAppBlazor.Library
@using PrimeiroAppBlazor.Client.Components.Carrera

<PageTitle>Carrera</PageTitle>

<h1>Pagina Carrera</h1>

<FormCarrera/>
<SearchCarrera />
<ListCarrera/>

@code {

   

   
}